.App {
  text-align: center;
  background-color: rgb(27, 25, 25);
  color: aliceblue;
}


.container-show, .container-create{
 padding: 55px;
 padding-bottom: 300px;
}

.letra-create{
  color: aliceblue;
}
.letra-create:hover{
  color:darkcyan;
}

.boton-crud{
  background-color: transparent;
  border: transparent;
  color: aliceblue;
  margin-bottom: 25px;
}

.boton-crud:hover{
  color:darkcyan;
}

.btn-primary{
  width: 115px;
}
/*
.container-create{
  background-color: rgb(46, 40, 40);
  color: aliceblue;
  height:100%;
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
}

input.form-control{
  width: 380px;
}*/