.App {
  text-align: center;
}

.div-boton{
  background-color: aqua;
}

.boton-inicia-sesion{
  margin: 15px;
  display: flex;
  height: 41px;
  width: 402px;
  flex-direction: column;
  align-items: center;
}
