.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 50s linear;
  }
}

.principal {
  background-color: #256D85;
  color: #F5EFE6;
  height: 500px;
}

.navbarC{
  display: flex;
  align-items: center;
}
.navbar{
  background-color: #06283D;
}

.inicioSeccion{
  display: flex;
    flex-direction: column;
    align-items: center;
}

.divflotterDisplay{
  background-color: #06283D;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #DFF6FF;
}
.divflotter{
  display: flex;
}