.input{
    height: 75px;
    border-radius: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;/*el tesxto se alinea a la derecha*/
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    background-color: #0a0a23;
    color: aliceblue;
    padding: 11px;
    padding-right: 30px;
    margin: 1px solid #888;
    box-shadow: 1px 5px 1px 1px white;
}